@media (min-width: 0px) {
	.opinion-avatar {
		width: 100px;
		height: 100px;
		box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.2);
	}
}

@media (min-width: 300px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 800px) {
	.navigation__list {
		flex-direction: column;
	}
	.model {
		//LINES SEPARATING EACH MODEL
		&:not(:last-child)::after {
			content: '';
			height: 1px;
			width: 100%;
			background: $third-color;
			place-self: center;
			margin-top: 1em;
		}
	}
}

@media (min-width: 800px) {
	html {
		font-size: 16px;
	}
	.header {
		&__content {
			justify-content: space-between;
			flex-direction: row;
		}
		.navigation {
			&__list {
				flex-direction: row;

				//MAKES NAVIGATION LAST ELEMENT FITTING IN LAYOUT
				& > :last-child > :last-child {
					padding: 0.4em 0 0.4em 0.4em;
				}
			}
			&__link {
				margin-left: 1em;
			}
		}
	}
	.information {
		width: 48%;
		margin-bottom: 2em;
	}
	.model {
		width: 48%;
		.image-container {
			height: 400px;
		}
	}
	.opinion-avatar {
		width: 180px;
		height: 180px;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 19px;
	}
	.delete {
		display: none;
	}
	.information {
		width: 31%;
	}
	.model {
		width: 31%;
		.image-container {
			height: 400px;
		}
	}
}

@media (min-width: 2600px) {
	html {
		font-size: 22px;
	}
	.delete {
		display: flex;
	}
	.information {
		width: 23%;
	}
	.model {
		width: 23%;
		.image-container {
			height: 500px;
		}
	}
}
