@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #090909;
  font-family: "Montserrat", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

[data-src] {
  min-width: 50px;
  min-height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Arial, sans-serif;
}

h2 {
  color: #373f51;
}

h3 {
  color: #0075f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #090909;
}

img {
  width: 100%;
}

main {
  padding: 0;
}

.informations {
  width: 100%;
}

.gallery {
  position: relative;
}

.gallery::before {
  content: '';
  position: absolute;
  background-image: url("../images/gallery_webp/Gallery_BACKGROUND-1000w.webp");
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%) contrast(45%);
          filter: grayscale(100%) contrast(45%);
}

.gallery-content {
  padding: 3em 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-content__item {
  width: 80%;
  margin-top: 2em;
}

.image-container--gallery {
  border-radius: 10px;
}

@media (min-width: 350px) {
  .image-container {
    height: 300px;
  }
}

@media (min-width: 600px) {
  .image-container {
    height: 300px;
  }
}

@media (min-width: 800px) {
  .gallery-content {
    width: 80%;
  }
  .image-container {
    height: 500px;
  }
}

@media (min-width: 1300px) {
  .gallery-content__item {
    width: 45%;
  }
  .image-container {
    height: 600px;
    margin-top: 1em;
  }
}

@media (min-width: 1600px) {
  .gallery-content__item {
    width: 30%;
  }
}

@media (min-width: 2600px) {
  .gallery-content__item {
    width: 21%;
  }
  .image-container {
    height: 700px;
  }
}
